@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@font-face {
  font-family: Strong;
  src: url('../Strong.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("165742-mont_fuji_noir_et_blanc-le_mont_fuji-fujiyoshida-fuji_cinq_lacs-volcan-3840x2160-modified.jpg");
}

